.Dictionary {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 75%;
}
.Dictionary section {
  background: #f6ca83;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  padding: 30px;
}

.Dictionary .btn-secondary {
  color: black;
  margin: 10px 0;
  width: 100%;
  position: relative;
  bottom: 10px;
  /* will need to work on size */
}

.Dictionary .btn-secondary:hover {
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

.Dictionary .hint {
  color: black;
  font-size: 11px;
}
